openapi: 3.2.0
info:
  title: WarpPay402 Monetized MCP Tools Bridging API
  description: Ultra-low-cost pay-per-use AI developer tools monetized via x402 micro-payments on Base Mainnet, Solana, Arbitrum One, and Arc Mainnet (USDC).
  version: 1.0.0
  x-api-evangelist:
    refined: '2026-09-19'
    from: openapi/_original/warppay402-com-openapi.json
    changes: added servers[] (the host the provider documents as "REST Gateway Base" in @warppay402/sdk and the baseUrl of /.well-known/x402-manifest.json), operationId per operation (named after the @warppay402/sdk client methods where one exists), tags, and x-x402-price-usdc from the provider's own x402 manifest; nothing else altered
servers:
- url: https://api.warppay402.com
  description: WarpPay402 Gateway (x402-metered; every operation answers 402 until a PAYMENT-SIGNATURE is presented)
tags:
- name: Bridging
  description: Circle CCTP cross-chain USDC transfer
paths:
  /api/v1/tools/arc-cctp-bridge:
    post:
      summary: Arc Circle CCTP Bridge Engine
      description: Bridges USDC cross-chain from Arc Mainnet via Circle CCTP ($0.25 USDC).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amountUsdc:
                  type: string
                destinationChain:
                  type: string
                  enum:
                  - ethereum
                  - avalanche
                  - optimism
                  - arbitrum
                  - solana
                  - base
                recipientAddress:
                  type: string
              required:
              - amountUsdc
              - destinationChain
              - recipientAddress
      responses:
        '200':
          description: Success
        '402':
          description: Payment Required
      operationId: bridgeArcCctp
      tags:
      - Bridging
      x-x402-price-usdc: '0.25'
