openapi: 3.2.0
info:
  title: WarpPay402 Monetized MCP Tools Web Intelligence API
  description: Ultra-low-cost pay-per-use AI developer tools monetized via x402 micro-payments on Base Mainnet, Solana, Arbitrum One, and Arc Mainnet (USDC).
  version: 1.0.0
  x-api-evangelist:
    refined: '2026-09-19'
    from: openapi/_original/warppay402-com-openapi.json
    changes: added servers[] (the host the provider documents as "REST Gateway Base" in @warppay402/sdk and the baseUrl of /.well-known/x402-manifest.json), operationId per operation (named after the @warppay402/sdk client methods where one exists), tags, and x-x402-price-usdc from the provider's own x402 manifest; nothing else altered
servers:
- url: https://api.warppay402.com
  description: WarpPay402 Gateway (x402-metered; every operation answers 402 until a PAYMENT-SIGNATURE is presented)
tags:
- name: Web Intelligence
  description: Web, browser, PDF and screenshot extraction
paths:
  /api/v1/tools/web-scraper:
    post:
      summary: Web Scraper & Markdown Extractor
      description: Scrapes any webpage URL into clean markdown for AI agent context ($0.001 USDC).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
              required:
              - url
      responses:
        '200':
          description: Success
        '402':
          description: Payment Required
      operationId: scrapeWeb
      tags:
      - Web Intelligence
      x-x402-price-usdc: '0.001'
  /api/v1/tools/browser-scraper:
    post:
      summary: JavaScript Browser Scraper
      description: Executes headless Chromium browser via proxy workers ($0.005 USDC).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
              required:
              - url
      responses:
        '200':
          description: Success
        '402':
          description: Payment Required
      operationId: browserScrape
      tags:
      - Web Intelligence
      x-x402-price-usdc: '0.005'
  /api/v1/tools/pdf-extractor:
    post:
      summary: PDF Document Extractor
      description: Downloads and extracts text from public PDF URL ($0.005 USDC).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pdfUrl:
                  type: string
              required:
              - pdfUrl
      responses:
        '200':
          description: Success
        '402':
          description: Payment Required
      operationId: extractPdf
      tags:
      - Web Intelligence
      x-x402-price-usdc: '0.005'
  /api/v1/tools/render-screenshot:
    post:
      summary: Full-Page Render & Screenshot
      description: Captures full-page rendered screenshot image data ($0.01 USDC).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
              required:
              - url
      responses:
        '200':
          description: Success
        '402':
          description: Payment Required
      operationId: renderScreenshot
      tags:
      - Web Intelligence
      x-x402-price-usdc: '0.01'
  /api/v1/tools/extract-json:
    post:
      summary: Structured Data Extractor
      description: Extracts structured JSON data from web pages ($0.01 USDC).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                schema:
                  type: object
              required:
              - url
      responses:
        '200':
          description: Success
        '402':
          description: Payment Required
      operationId: extractJson
      tags:
      - Web Intelligence
      x-x402-price-usdc: '0.01'
