openapi: 3.2.0
info:
  title: WarpPay402 Monetized MCP Tools Chain Analytics API
  description: Ultra-low-cost pay-per-use AI developer tools monetized via x402 micro-payments on Base Mainnet, Solana, Arbitrum One, and Arc Mainnet (USDC).
  version: 1.0.0
  x-api-evangelist:
    refined: '2026-09-19'
    from: openapi/_original/warppay402-com-openapi.json
    changes: added servers[] (the host the provider documents as "REST Gateway Base" in @warppay402/sdk and the baseUrl of /.well-known/x402-manifest.json), operationId per operation (named after the @warppay402/sdk client methods where one exists), tags, and x-x402-price-usdc from the provider's own x402 manifest; nothing else altered
servers:
- url: https://api.warppay402.com
  description: WarpPay402 Gateway (x402-metered; every operation answers 402 until a PAYMENT-SIGNATURE is presented)
tags:
- name: Chain Analytics
  description: Base and Arc network / wallet telemetry
paths:
  /api/v1/tools/base-analytics:
    post:
      summary: Base Wallet Analytics
      description: Fetches ETH balance and transaction count ($0.002 USDC).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
              required:
              - address
      responses:
        '200':
          description: Success
        '402':
          description: Payment Required
      operationId: getBaseAnalytics
      tags:
      - Chain Analytics
      x-x402-price-usdc: '0.002'
  /api/v1/tools/arc-analytics:
    post:
      summary: Arc Mainnet Network Analytics
      description: Fetches live block height, gas price, and RPC latency from Arc Mainnet ($0.001 USDC).
      responses:
        '200':
          description: Success
        '402':
          description: Payment Required
      operationId: getArcAnalytics
      tags:
      - Chain Analytics
      x-x402-price-usdc: '0.001'
  /api/v1/tools/arc-network-query:
    post:
      summary: Arc Pre-Flight Telemetry Oracle
      description: 'Pre-flight Arc Mainnet telemetry: RPC latency (ms), gas prices (Gwei), native USDC balance, and account nonce ($0.10 USDC).'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                includeGasTrends:
                  type: boolean
                  default: true
                checkMerchantAccount:
                  type: boolean
                  default: true
      responses:
        '200':
          description: Success
        '402':
          description: Payment Required - x402 $0.10 USDC micropayment challenge
      operationId: queryArcNetworkOracle
      tags:
      - Chain Analytics
      x-x402-price-usdc: '0.10'
